.container {
    display: grid;
    align-items: flex-start;
    gap: 10px;
    grid-template-columns: auto auto;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    float: left; /* Makes the image float to the left */
    margin-right: 20px; /* Adds space between the image and text */
    margin-bottom: 10px; /* Adds space below the image for a natural flow */
}

.spaced-br{
    margin-bottom: 5px;
    display: block;
}

.text{
    text-align: justify;
}

.clear{
    clear: both;
}